principal{
    display: grid;
    grid-template-areas: 
        "header header header"
        "aside section section"
        "aside section section"
        "footer footer footer";
    gap: 5px;
    font-family:Nunito; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px;
    background-image: url(/Imagenes/1920x1080-Fondo-de-pantalla-negro-mate-1920x1080-PX.jpg);
    margin:0%;
    padding:0%;
}

.fondopantalla {
    position:fixed ;
    right: 0%;
    bottom: 0;
    min-width: 105%;
    min-height: 105%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -10;
}

/*Header*/

header{
    grid-area:header;
    display: flex;  /*flexiblea dela esan nahi du*/
    height: 100%;
    width: 100%;
    background-color: #dd9933;
    justify-content:space-between;
    align-items: center;
    padding: 0px;
}
    .logo{
            display:flex;
            align-items: center;
        
 }

    .logo img{
            height: 110px;
            margin-right: 10px;

}
 /*Header amaiera*/

 /*Nav*/
nav{
    grid-area:nav;
    max-width:none;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color:white;
}

@media (max-width:700px){  /*asoziati egiten du talde bat deklarazio anidatuekin*/
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}
/* elementu baten alde guztiek behar duten betegarria ezartzen du */
html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit; /*hartzen du bere elementu aitaren baloreak*/
}


/* ul barruan tarteak kentzeko */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.barra {
    background-color: #dd9933;
}

.padre i {
    margin-right: 1.5rem;
}

.navegacion a {
    padding: 1rem;
    display: block;
}

.navegacion {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

@media (min-width:768px) {
    .navegacion {
        flex-direction: row;
    }
}

.enlace{
    overflow: hidden;  /*overflow mostu egiten da eta beste gaiak izkutatzen dira*/
}

.enlace:target .submenu{
    max-height: 300px;
}

@media (min-width:768px) {
    .enlace {
        flex: 1;
        position: relative;
        overflow: visible;
    }
    .enlace .submenu{
        position: absolute;
        width: 100px;
    }
}

.submenu {
    background-color: #4c4c48;
    max-height: 0;
    transition:0.5s ; /*zenbat denboratan desplegatuko da*/
}
@media (min-width:768px) {
    .submenu a{
        display: none;

    }
    .enlace:target .submenu a {
        display: block;
    }
}
.submenu a:hover{
    background-color: rgb(58,58,57);
}

/*Nav amaiera*/

/*ASIDE*/
aside{
    grid-area:aside;
    box-sizing:border-box;
    margin:0;
    padding:0;
}
aside li{
    list-style-type:none;
    position:relative; /*bere pozozio normalean dagoela*/
    width: 120px;
    }
                
    aside li a{
    text-decoration:none;
    display:inline-block;
    padding:5px 10px;
    width:200px;
    height:50px;
    border: 5px groove #333;
    color:rgb(255, 253, 253);
    background-color:#dd9933;
    }
            
    aside li a:hover{
    color:rgb(255, 255, 255);
    background-color:#4c4c48;
                
    }
    
    aside li ul{
        display:none;
        position:absolute;
        top:0px;
        left:200px;
    }
            
    aside li:hover ul{display:block;}

    /*SECTION*/
section{
    grid-area:section;
    text-align: center;
}
.top{
    width: 20px; height: 20px;
    font-style: italic;
    color: rgb(255, 255, 255);
}
#topsalmentak {
    display:inline-block;
    width:70%;
    margin-top:50px
   }
   
   /*ZUTABEA*/
   
   .precio-col {
    display:grid;
    background-color:#dd9933;
    width:100%;
    max-width:500px;
    border-radius:10px;
    margin-bottom:50px;
    box-shadow: 0px 2px 5px rgb(255, 255, 255)
   }
   
   @media screen and (min-width:768px) {
    .precio-col {
    width:32%;
    float:left; /*elementuak jartzen ditu flotatzen ari direla bezala*/
    margin-right:2%
    }
    
    .precio-col:last-child {
    margin-right:0
    }
   }
   
   /*HEADERS*/
   
   .precio-col-header  {
    background-color:rgb(255, 255, 255);
    padding:20px;
    border-top-left-radius:40px;
    border-top-right-radius:40px
   }
   
   .precio-col:nth-child(2) .precio-col-header {
    background-color:rgb(255, 255, 255)
   }
   
   .precio-col-header p {
    color:#ffffff;
    text-align:center;
    font-size:30px;
    font-weight:600;
    margin-bottom:0
   }
   
   .precio-col-header p {
    text-align:center;
    color:#ffffff;
    font-size:14px;
    margin-bottom:0
   }
   
   /*EZAUGARRIAK*/
   
   .precio-col-features {
    padding: 0 20px 20px 20px
   }
   
   .precio-col-features p  {
    padding:20px 0;
    margin:0;
    text-align:center;
    border-top:1px solid rgb(255, 255, 255)
   }
   
   .precio-col-features p:first-child,
   .precio-col-features p:last-child {
    border-top:none
   }
   
   /*EROSI*/
   
   .precio-col-comprar {
    padding:10px;
    max-width:250px;
    text-align:center;
    background-color:rgb(3, 3, 3);
    margin: 0 auto 20px;
    border-radius:10px;
    border: 2px solid rgb(255, 255, 255)
    transition all 0.3s
   }
   
   .precio-col-comprar a {
    color:#c38330;
    padding:10px;
    font-size:20px;
    text-transform:uppercase; /* letra larriak jartzen ditu*/
    transition: all 0.3s
   }
   
   .precio-col-comprar:hover {
    background-color:#ffffff;
    transition: all 0.3s
   }
   
   .precio-col-comprar:hover a {
    color:rgb(9, 9, 9);
    transition: all 0.3s
   }

 /*Section amaiera*/

/*Footer*/
 footer{
    grid-area:footer;
    background-color: #c38330;
    position:fixed;
    bottom: 0;
    width: 100%;
    height: 90px;
    color: white;  
}
/*footer amaiera*/

/* HASI SAIOA */

/* Hautagailu unibertsala zabalera zehazteko */
.fondobideohasisaioa {
    position:fixed ;
    right: 0%;
    bottom: 0;
    min-width: 105%;
    min-height: 105%;
    transform: translateX(calc((100% - 100vw) / 2));  /*birposizionatu egiten du horizontalki 2D plano batean*/
    z-index: -10;
}
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* Body guztian arial letra mota eta argazki bat fondo bezala */
.hasisaioa{
    font-family: arial;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


/* Formularioa eta kutxaren sorkuntza */
.formularioaH {
  width: 400px;
  height: 340px;
  background: #464343;
  margin: auto;
  margin-top: 250px;
  box-shadow: 7px 13px 37px rgb(0, 0, 0);
  padding: 20px 30px;
  border-top: 4px solid #dd9933;
  color: #dd9933;
}

/* Formularioan tituluaren estiloa aldatzeko */
.formularioaH h5 {
    margin: 0%;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
    color:white
}

/* Idazteko espazioak konfiguratzeko */
.control {
    width: 100%;
    border: 1px solid #dd9933;
    margin-bottom: 15px;
    padding: 15px 10px;
    background: #000000;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

/* Botoiaren itxura */
.botoia {
    width: 100%;
    height: 40px;
    background: #dd9933;
    border: none;
    color: rgb(255, 255, 255);
    margin-bottom: 16px ;
    font-weight: bold;
}

/* "Ez dut pasahitza gogoratzen" itxura aldatzeko */
.formularioaH p {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}
.formularioaH a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.formularioaH p:hover {
    text-decoration: underline;
}

/* ERREGISTROA */

/* mgitzen den fondo bat jartzeko */
.fondobideoerregistratu {
    position:fixed ;
    right: 0%;
    bottom: 0;
    min-width: 105%;
    min-height: 105%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -10;
}
.erregistroa{
    background-image: url(../Imagenes/wallpaperbetter.webp);
    font-family: arial;
}

.formularioaE {
  width: 400px;
  height: 540px;
  background: #464343;
  margin: auto;
  margin-top: 150px;
  box-shadow: 7px 13px 37px rgb(0, 0, 0);
  padding: 20px 30px;
  border-top: 4px solid #dd9933;
  color: #ffffff;
}
/* Formularioan tituluaren estiloa aldatzeko */
.formularioaE h5 {
    margin: 0%;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.control {
    width: 100%;
    border: 1px solid #dd9933;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #000000;
    font-size: 14px;
    font-weight: bold;
    color: white;
}
/* Botoiaren itxura */
.botoia {
    width: 100%;
    height: 40px;
    background: #dd9933;
    border: none;
    color: rgb(255, 255, 255);
    margin-bottom: 16px ;
    font-weight: bold;
}

.formularioaE p {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}

.formularioaE a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 14px;
}

.formularioaE a:hover {
    text-decoration: underline;
}


/* ARAZO FORMULARIOA */

.fondobideomodding {
    position:fixed ;
    right: 0%;
    bottom: 0;
    min-width: 105%;
    min-height: 105%;
    transform: translateX(calc((100% - 100vw) / 2));
    z-index: -10;
}

.Erreparazioak{
    background-image: url(../Imagenes/wallpaperbetter.webp);
    font-family: arial;
}

.formularioaA {
  width: 400px;
  height: 540px;
  background: #464343;
  margin: auto;
  margin-top: 150px;
  box-shadow: 7px 13px 37px rgb(0, 0, 0);
  padding: 20px 30px;
  border-top: 4px solid #dd9933;
  color: #ffffff;
}
/* Formularioan tituluaren estiloa aldatzeko */
.formularioaA h5 {
    margin: 0%;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.control {
    width: 100%;
    border: 1px solid #dd9933;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #000000;
    font-size: 14px;
    font-weight: bold;
    color: white;
}
/* Botoiaren itxura */
.botoia {
    width: 100%;
    height: 40px;
    background: #dd9933;
    border: none;
    color: rgb(255, 255, 255);
    margin-bottom: 16px ;
    font-weight: bold;
}

.formularioaA p {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}

.formularioaA a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 14px;
}

.formularioaA a:hover {
    text-decoration: underline;
}
