* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
   font-family: arial; 
   background-image: url('/Imagenes/wallpaperbetter.com_1920x1080.jpg');
   
}

.formularioa {
  width: 400px;
  height: 340px;
  background: #4e4d4d;
  margin: auto;
  margin-top: 250px;
  box-shadow: 7px 13px 37px #000;
  padding: 20px 30px;
  border-top: 4px solid #dd9933;
  color: white;
}

.formularioa h5 {
    margin: 0%;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
}

.control {
    width: 100%;
    border: 1px solid #dd9933;
    margin-bottom: 15px;
    padding: 11px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.botoia {
    width: 100%;
    height: 40px;
    background: #dd9933;
    border: none;
    color: rgb(255, 255, 255);
    margin-bottom: 16px ;
    font-weight: bold;
}

.formularioa p {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}

.formularioa a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.formularioa a:hover {
    text-decoration: underline;
}